Deloitte - Project/force-app/main/default/flows/CriarCombo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Atribuir_Campos_do_Combo</name>
        <label>Atribuir Campos do Combo</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>Combo.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combo.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Combo 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combo.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusCombo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combo.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combo.ValorMensal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>valorMensal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combo.Fixo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fixo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combo.Movel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>movel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combo.Internet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>internet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combo.TV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tv</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Criar_Combo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Fixo</name>
        <label>Atribuir Fixo</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>fixo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obter_Produtos_Separados.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obter_Produtos_Separados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Internet</name>
        <label>Atribuir Internet</label>
        <locationX>798</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>internet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obter_Produtos_Separados.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obter_Produtos_Separados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Movel</name>
        <label>Atribuir Movel</label>
        <locationX>534</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>movel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obter_Produtos_Separados.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obter_Produtos_Separados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_TV</name>
        <label>Atribuir TV</label>
        <locationX>1062</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>tv</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obter_Produtos_Separados.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obter_Produtos_Separados</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Aprovado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprovado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_Campos_do_Combo</targetReference>
            </connector>
            <label>Aprovado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Produto</name>
        <label>Tipo de Produto</label>
        <locationX>798</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Obter_Produtos_Separados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Fixo_Decisao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Produtos_Separados.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_Fixo</targetReference>
            </connector>
            <label>Fixo</label>
        </rules>
        <rules>
            <name>Movel_Decisao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Produtos_Separados.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Móvel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_Movel</targetReference>
            </connector>
            <label>Movel</label>
        </rules>
        <rules>
            <name>Internet_Decisao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Produtos_Separados.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Banda larga</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_Internet</targetReference>
            </connector>
            <label>Internet</label>
        </rules>
        <rules>
            <name>TV_Decisao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Produtos_Separados.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_TV</targetReference>
            </connector>
            <label>TV</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>statusCombo</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!Combos_da_Conta.Id})), &apos;Ativo&apos;, &apos;Inativo&apos;)</expression>
    </formulas>
    <formulas>
        <name>valorMensal</name>
        <dataType>Currency</dataType>
        <expression>IF( 
AND (
NOT(ISNULL({!$Record.Discount__c})),
{!$Record.Discount__c} &lt;&gt; 0
), {!$Record.TotalAmount} * {!$Record.Discount__c},  {!$Record.TotalAmount}  )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CriarCombo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CriarCombo</label>
    <loops>
        <name>Obter_Produtos_Separados</name>
        <label>Obter Produtos Separados</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Obter_Produto_do_Pedido_Fixo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Tipo_de_Produto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Combo</name>
        <label>Criar Combo</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputReference>Combo</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Combos_da_Conta</name>
        <label>Combos da Conta</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Produto_do_Pedido_Fixo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Combo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Produto_do_Pedido_Fixo</name>
        <label>Obter Produto do Pedido Fixo</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Produtos_Separados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Combos_da_Conta</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Combo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Combo__c</objectType>
    </variables>
    <variables>
        <name>fixo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>internet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>movel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
