Deloitte - Project/force-app/main/default/flows/Gerar_Contratos_e_Ativos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Verifica_Opp_Fechada_Ganha</name>
        <label>Verifica Opp Fechada Ganha</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Oportunidades.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_Oportunidades.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_Oportunidades.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ganha</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifica_Tipo_de_Registro</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_Tipo_de_Registro</name>
        <label>Verifica Tipo de Registro</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Resultado Padrão</defaultConnectorLabel>
        <rules>
            <name>Contrato_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Oportunidades.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Produtos_da_Opp</targetReference>
            </connector>
            <label>Contrato</label>
        </rules>
        <rules>
            <name>Ativo_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Oportunidades.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ativo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Produtos_da_Oportunidade</targetReference>
            </connector>
            <label>Ativo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Gerar Contratos e Ativos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gerar Contratos e Ativos</label>
    <loops>
        <name>Iterar_Lista_de_Ativos</name>
        <label>Iterar Lista de Ativos</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <collectionReference>ProdutosAtivos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Gerar_Ativos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Gerar_Ativos_Tela2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obter_Oportunidades</name>
        <label>Obter Oportunidades</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Informacoes_necessarias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Produtos_da_Oportunidade</name>
        <label>Obter Produtos da Oportunidade</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterar_Lista_de_Ativos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Oportunidades.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>ProdutosAtivos</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obter_Produtos_da_Opp</name>
        <label>Obter Produtos da Oportunidade</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gerar_Contratos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Oportunidades.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Gerar_Ativos_Tela2</name>
        <label>Gerar Ativos</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensagem_sucesso2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Ativos gerados com sucesso!&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Gerar_Contratos_Tela2</name>
        <label>Gerar Contratos</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensagem_Sucesso</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Contrato gerado com sucesso!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Informacoes_necessarias</name>
        <label>Informações necessárias</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>Verifica_Opp_Fechada_Ganha</targetReference>
        </connector>
        <fields>
            <name>Data_de_Execucao_do_servico</name>
            <dataType>Date</dataType>
            <fieldText>Data de Execução do serviço</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Salvar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Oportunidades</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Gerar_Ativos</name>
        <label>Gerar Ativos</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Iterar_Lista_de_Ativos</targetReference>
        </connector>
        <flowName>Gerar_Ativos</flowName>
        <inputAssignments>
            <name>dataInstalacao</name>
            <value>
                <elementReference>Data_de_Execucao_do_servico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Iterar_Lista_de_Ativos.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Gerar_Contratos</name>
        <label>Gerar Contratos</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Gerar_Contratos_Tela2</targetReference>
        </connector>
        <flowName>Gerar_Contratos</flowName>
        <inputAssignments>
            <name>dataDeInicio</name>
            <value>
                <elementReference>Data_de_Execucao_do_servico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>dataInstalacao</name>
            <value>
                <elementReference>Data_de_Execucao_do_servico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Obter_Produtos_da_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>listaProdutos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProdutosAtivos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
